
    <footer id="footer">
        <!--footer 부분 code -->
        <div class="footerwrap">
            <p>© 2021, 나만의 게시판 by SeongeunYang. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/postlist.js"></script>
    <script src="/js/newpost.js"></script>
    <script src="/js/detailpost.js"></script>
</body>
</html>