{{>layout/header}}
<main class="postlist-wrap">
    <div class="wrapper">
        <button class="save-btn" onclick="deletePost()" type="button">삭제하기</button>
        <button class="save-btn" onclick="updatePost()" type="button">수정하기</button>
        <h2 id="postId" class="post-id"> 글번호 : {{post.id}}</h2>
        <div class="post">
            <h1 class="post-info">제  목 :</h1><input class="inputPostInfo" type="text" id="postTitle" value="{{post.title}}">
            <br><h1 class="post-info">작성자 :</h1><input class="inputPostInfo" type="text" id="postAuthor" value="{{post.author}}">
        </div>
        <div class="post-textarea-div"> <!-- 코멘트를 입력할 수 있는 공간 -->
            <textarea class="post-textarea" id="postContent">{{ post.content }}</textarea>
        </div>
    </div>
</main>
{{>layout/footer}}