{{>layout/header}}
<main class="postlist-wrap">
    <div class="bannerImgBox" style="text-align : left;">
        나만의 게시판 : 원하는 글을 올려보세요 ✍🏻
    </div>

    <form action="/posts/search" method="GET">
        <div class="searchBox">
            <input class="searchInput" name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <button class="searchBtn">검색하기</button>
        </div>
    </form>

    <div class="tablearea">
        <table class="table table-hover table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody id="board">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{createAt}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <button class="writeBtn" type="button" onclick="MoveToWritePage()">글쓰기</button>
    </div>
</main>
{{>layout/footer}}